@page
@model DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

    <div class="container">
        <div class="row">
            <h1>Main Features</h1>
        </div>
        <div class="row">
            <div class="col">
                <a asp-page="selectCountry" class="btn btn-dark">Add Beer</a>
            </div>
         
            <div class="col">
                <a asp-page="DoINeedCountry" class="btn btn-dark">Who needs a beer?</a>
            </div>
        </div>  

        <hr>
        <div class="row">
            <h1>My Lists</h1>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-dark" asp-page="userLists" asp-route-type="tried">Beers you have had <span class="badge badge-light">@Model.userCollectionCount</span></a>
            </div>
            <div class="col">
                <a class="btn btn-dark" asp-page="userLists" asp-route-type="notTried">Beers Remaining <span class="badge badge-light">@Model.userCollectionRemainingCount</span></a>
            </div>      
         </div>

    <hr>

    <div class="row">
        <h1>My Friends</h1>
    </div>
    <div class="row">
        <h2>Your friend Id is @Model.userFriendId</h2>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-dark" asp-page="addFriend">Add Friend</a>
        </div>
        <div class="col">
            <a class="btn btn-dark" asp-page="removeFriend">Remove Friend</a>
        </div>
    </div>
        
    </div>

