@page
@model DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

    <div class="container">
        <div class="row">
            <h1>Main Features</h1>
        </div>
        <div class="row">
            <div class="col">
                <a asp-page="selectCountry" class="btn btn-dark">Add Beer</a>
            </div>
            <!--
        <div class="col">
            <button type="button" class="btn btn-dark" onclick="">Who Needs a Beer?</button>
        </div>
            -->
        </div>

        <hr>
        <!--
    <div class="row">
        <h1>My Lists</h1>
    </div>
    <div class="row">
        <div class="col"></div>
                <button type="button" class="btn btn-dark" asp-page="selectCountry">Beers you have had <span class="badge badge-light">0</span></button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-dark" onclick="">Beers Remaining <span class="badge badge-light">1001</span></button>
        </div>
    </div>

    <hr>

    <div class="row">
        <h1>My Friends</h1>
    </div>
    <div class="row">
        <h2>Your ID is ?????</h2>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-dark" onclick="">Add Friend</button>
        </div>
    </div>
        -->
    </div>

