@page
@model TM470.Pages.DoINeedResultsModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DoINeedResults</title>
</head>
<body>
</body>
</html>
