@page
@model removeFriendModel
@{

}

<div class="container">
    <h1>Remove a Friend</h1>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">

        <table class="table table-dark table-striped">
            <caption>Friends list</caption>
            <thead>
                <tr>
                    <th scope="col">Friend</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <form role="form" method="post" asp-for="@Model.friendId">
                    @foreach (var friend in Model.friendList)
                    {
                        <tr>
                            <td>@friend.nickname</td>
                            <td>
                                <button type="submit" name="friendId" value="@friend.friend_id">Delete</button>
                            </td>
                        </tr>
                    }
                </form>
            </tbody>
        </table>
        <p><a href="/Dashboard">Home</a></p>
    </div>
</div>   