@page
@model userListsModel
@{
}


    <div class="container">
        <div class="row">
            <h1>@Model.title</h1>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <table class="table table-dark table-striped">
                        <caption>Beer lists</caption>
                        <thead>
                            <tr>
                                <th scope="col">Beer</th>
                                <th scope="col">Country</th>
                            </tr>
                        </thead>
                        <tbody>
                                @foreach (var beer in Model.beers)
                                {
                                    <tr>
                                        <td>@beer.name</td>
                                        <td>@beer.Country</td>
                                    </tr>

                                }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>